
Your order number is: <%= @order.id %>

<br>

You ordered the following:

<table>
	<thead>
		<tr>
			<th>title</th>
			<th>amount</th>			
		</tr>
	</thead>
	<tbody>
		<% @order.line_items.each do |line_item| %>
				<tr>
					<td><%= line_item.product.title %></td>
					<td><%= line_item.amount %></td>				
				</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Your order', client_order_path(@order) %>
<br>


Your order will be delivered shortly

<%#= @order.delivery_date %>
<%#= @order.delivery_time %>





